* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik";
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 101, 255);
    width: 100%;
    height: 100px;
}

.titulo-header {
    text-align: center;
}

.container-main {
    flex-grow: 1;
    border: solid blueviolet;
    height: auto;
    padding: 10px;
}

.container-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    padding: 7px;
    height: auto;
}

.div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid rgb(0, 255, 76);
    margin: 10px;
    width: 100%;
    width: calc((100vw/3) - 50px);
    height: auto;
}

.img-card {
    width: 100%;
}

.parrafo {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    word-wrap: break-word; 
    padding: 10px;
}